.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  align-items: unset;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
}

.span {
  font-size: 1.2rem;
  font-weight: normal;
}

.button-wrapper {
  align-items: center;
}

.field {
  margin: 10px 0;
}
