.signin__container {
  margin: 0 10%;
  padding: 20px 0;
}

.signin__title {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.signin__form--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin__form--container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #707070;
  border-radius: 20px;
  padding: 20px 50px;
}

.signin__form--field {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.signin__form--label {
  font-size: 1.5rem;
  font-weight: 600;
}

.signin__form--input {
  font-size: 1.5rem;
  min-width: 400px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 10px;
}

.signin__form--button {
  padding: 5px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #20746a;
  color: #fff;
}

.signin__form--anchor {
  margin-top: 10px;
  font-size: 1.3rem;
  color: #20746a;
}
