.back-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #20746a;
  color: #fff;
  font-weight: 600;
}

.radio-group-title {
  margin-bottom: 0;
}

.radio-group-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
