.route-editor__loading--wrapper {
  position: relative;
}

.route-editor__loading--container {
  z-index: 2000;
  background: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.route-editor__loading--text {
  font-weight: bold;
}
