.back-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #20746a;
  color: #fff;
  font-weight: 600;
}

.operation-btn {
  margin: 0 1px;
  padding: 5px 10px;
  cursor: pointer;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #20746a;
  color: #20746a;
  font-weight: 600;
  background: #fff;
}

.radio-group-title {
  margin-bottom: 0;
}

.radio-group-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
