.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border: 1px solid #707070;
  border-radius: 20px;
  padding: 20px 50px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
}

.error-label {
  margin-top: 1px;
  height: 1.2rem;
  line-height: 1.2rem;
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}

.span {
  font-size: 1.2rem;
  font-weight: normal;
}

.input {
  font-size: 1.5rem;
  min-width: 450px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 10px;
}

.button-wrapper {
  align-items: center;
}

.button {
  padding: 5px 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #20746a;
  color: #fff;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radio-group-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.radio-group-label {
  font-size: 1.8rem;
  margin-right: 10px;
}

.radio-group-radio {
  height: 1.8rem;
  margin: 0;
  margin-right: 2px;
}
