body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 10px;
}

p {
  font-size: 1.2rem;
}

/* flexの中でhrが適切に描画されない問題を解決するために設定
https://stackoverflow.com/questions/34365271/hr-inside-container-with-display-flex-become-corrupted */
hr {
  margin-left: 0;
  margin-right: 0;
}
