.input {
  font-size: 1.5rem;
  min-width: 450px;
  height: 40px;
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 10px;
}

.error-label {
  margin-top: 1px;
  height: 1.2rem;
  line-height: 1.2rem;
  color: red;
  font-size: 1.2rem;
  font-weight: 600;
}
